body {
    margin: 0px;
}
/*
 *  header
 */
header#idheader {
    height: 150px;
    display: flex;
    background-color: #13b8c1;
}
header#idheader div#imgcontainer {
    width: 30%;
    margin: 0px auto;
}
header#idheader div#textcontainer {
    width: 70%;
    display: table;
    height: 150px;
}
header#idheader div#textcontainer h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 4rem;
}
header#idheader div#imgcontainer img {
    height: 150px;
    display: block;
    margin: 0px auto;
}
/*
 *  main
 */
div#maincontainer main {
    width: 80%;
    margin: 0px auto;
}
div#maincontainer main div#usercontainer {
    margin: 0px auto;
    display: block;
}
div#maincontainer main div#usercontainer a, div#maincontainer main div#usercontainer a:hover:first-child {
    color: #000000;
    -webkit-transition: -webkit-color 1s ease-in;
    -moz-transition: -moz-color 1s ease-in;
    transition: color 1s ease-in;
}
div#maincontainer main div#usercontainer a.inactiveLink {
    pointer-events: none;
    cursor: default;
}
div#maincontainer main div#usercontainer a:hover {
    color: #13b8c1;
}
div#maincontainer main div#usercontainer a h1 span {
    opacity: 0;
    -webkit-transition: -webkit-opacity 1s ease-in;
    -moz-transition: -moz-opacity 1s ease-in;
    transition: opacity 1s ease-in;
}
div#maincontainer main div#usercontainer a:hover h1 span {
    opacity: 1;
}
/*
 *  footer
 */
footer#idfooter {
    background-color: #13b8c1;
    display: flex;
}
footer#idfooter div#containerleft {
    width: 70%;
}
footer#idfooter div#containerleft div#containerall div#containerrowup {
}
footer#idfooter div#containerleft div#containerall div#containerrowdown {
}
footer#idfooter div#containerleft div#containerall div#containerrowdown div.containerdeveloper div.containerimg img {
    border-radius: 50%;
    width: 10%;
}
footer#idfooter div#containerleft div#containerall div#containerrowdown div.containerdeveloper div.containerimg {
}
footer#idfooter div#containerleft div#containerall div#containerrowdown div.containerdeveloper div.containerimg img {
    border-radius: 50%;
    width: 10%;
}
footer#idfooter div#containerright {
    width: 30%;
}
/*
 *  dimensione dei caratteri
 */
h1 {
    font-size: 2rem;
}