body {
    margin: 0px;
}
/*
 *  index.html
 */
/*
 *  header
 */
header#idheader {
    height: 150px;
    display: flex;
    flex-direction: row;
    background-color: #13b8c1;
}
header#idheader div#imgcontainer {
    width: 30%;
    margin: 0px auto;
}
header#idheader div#textcontainer {
    width: 70%;
    display: table;
    height: 150px;
}
header#idheader div#textcontainer h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 4rem;
}
header#idheader div#imgcontainer img {
    height: 150px;
    display: block;
    margin: 0px auto;
}
/*
 *  main
 */
div#maincontainer main {
    width: 80%;
    margin: 0px auto;
}
div#maincontainer main div#usercontainer {
    margin: 0px auto;
    display: block;
}
div#maincontainer main div#usercontainer a, div#maincontainer main div#usercontainer a:hover:first-child {
    color: #000000;
    -webkit-transition: -webkit-color 1s ease-in;
    -moz-transition: -moz-color 1s ease-in;
    transition: color 1s ease-in;
}
div#maincontainer main div#usercontainer a.inactiveLink {
    pointer-events: none;
    cursor: default;
}
div#maincontainer main div#usercontainer a:hover {
    color: #13b8c1;
}
div#maincontainer main div#usercontainer a h1 span {
    opacity: 0;
    -webkit-transition: -webkit-opacity 1s ease-in;
    -moz-transition: -moz-opacity 1s ease-in;
    transition: opacity 1s ease-in;
}
div#maincontainer main div#usercontainer a:hover h1 span {
    opacity: 1;
}
/*
 *  footer
 */
footer#idfooter {
    background-color: #13b8c1;
    display: flex;
    flex-direction: column;
    width: 100%;
}
footer#idfooter div#containerall {
    display: flex;
    flex-direction: column;
}
footer#idfooter div#containerall div#containerrowup, footer#idfooter div#containerall div#containerrowdown {
    padding: 20px 0px;
    display: table;
    width: 100%;
}
footer#idfooter div#containerall div#containerrowup h1, footer#idfooter div#containerall div#containerrowdown a {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 5rem;
}
footer#idfooter div#containerall div#containerrowmiddle {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px 0px;
}
footer#idfooter div#containerall div#containerrowmiddle div.containerdeveloper {
    width: 50%;
}
footer#idfooter div#containerall div#containerrowmiddle div.containerdeveloper div.containerimg {
    margin: 0px auto;
}
footer#idfooter div#containerall div#containerrowmiddle div.containerdeveloper div.containerimg img {
    display: block;
    margin: 0px auto;
    border-radius: 50%;
    width: 15%;
}
footer#idfooter div#containerall div#containerrowmiddle div.containerdeveloper div.containertext h1 {
    text-align: center;
}
footer#idfooter div#containerall div#containerrowdown a {
    font-size: 3rem;
    color: #000000;
    text-decoration: none;
    -webkit-transition: -webkit-font-size 1s ease-in;
    -moz-transition: -moz-font-size 1s ease-in;
    transition: font-size 1s ease-in;
}
footer#idfooter div#containerall div#containerrowdown a:hover {
    font-size: 5rem;
    margin: 0px 5%;
}
/*
 *  document.html
 */
/*
 *  main
 */
div#maincontainer main div#bottone {
    display: none;
}
div#maincontainer main div.conttext {
    font-size: 2rem;
    margin: 5% 0%;
}
div#maincontainer main div.conttext h1 {
    font-size: 4rem;
}
/*
 *  dimensione dei caratteri
 */
h1 {
    font-size:2rem;
}
.post-header {
	display: flex;
	flex-direction: row;
	background-color: #228ea6;
	border-color: #228ea6;
}
.post-title {
	flex-grow: 1;
}
.post-comands {
	color: black;
}
.post-comands a {
	color:black;
	text-decoration: none;
}
.post-content {
	padding: 10px;
	margin-bottom: 10px;
}
.post-comment-section {
	border: 1px solid silver;
	padding: 20px;
	list-style: none;
}
.post-comment {
	padding: 5px;
}
.post-comment-header {
	width: 100%;
	padding: 5px;
}
.post-comment-name{
	font-weight: bold;
	font-size: 1em
}
.post-comment-email {
	font-weight: normal;
	font-style: italic;
	color: silver;
	padding-left: 2px;
}
.post-comment-body {
	border-top: 1px solid silver;
	padding: 5px 10px 5px 20px;
}